* {
    padding: 0;
    margin: 0;
    color: rgb(17, 16, 16);
}
body {
    background-image: url(../images/black-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
}
#navbar1 {
    height: 75px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar1 h1 {
    color: white;
    margin:0;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.row {
    display: flex;
    gap: 60px; 
    margin-top : 40px;
    margin-left: 20px;
}

.option {
    height: 150px;
    width: 350px; 
    background-color: rgba(255, 255, 255, 0.382);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 40px;
    backdrop-filter: blur(10px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.option a {
    text-decoration: none;
    color: white;
}
.option:hover {
    transform: scale(1.1);
   /* background-color: darkorange;*/
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

#form-container {
    height: 85%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------monitoring -----------------------------------------------------------------------*/

#moni-navbar{
    height : 75px;
    background-color: rgb(25, 25, 25);
        display : flex;
        justify-content: center;
        align-items: center;
}
.fill1{
    margin : 10px 10px 10px 10px;
    font-size: 35px;
}
.fill1 label {
    color: white;
}
input {
    height: 25px; 
    font-size: 18px; 
}
#moni-navbar h1{
    color: white;
   margin: 0;
}
#monitor-form{
    /* margin-top: 50px; */
    height : 300px;
    width: 600px;
    padding-top: 40px;
    display:flex;
    /* margin-left: 415px; */
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}
.buttons {
    height: 50px;
    margin-top : 60px ;
    margin-left :50px;
    display: flex ; 
}
#button1, #button2{ 
    margin-right : 30px;
    width: 150px;
}
#button1:hover , #button2:hover{
    transform: scale(1.1);
}

/*-----------------------------------------------------load_data -------------------------------------------------------------------------------*/

#load-navbar1{
    height : 75px;
    background-color:rgb(25, 25, 25);
    display : flex;
    justify-content: center;
    align-items: center;
}

#load-navbar1 h1 {
    color: white;
    margin: 0;
    text-align: center;
    
}

#load-form{
    height : 350px;
    width: 800px;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

#form-data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

h2{
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
}


#choosefile {
    font-size : 18px;
    margin-left: 20px;
}
#file {
    color: rgb(251, 155, 155);
}

#buttons-container {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.back-link {
    display: block; 
    margin-top: 10px; 
    margin-left: 180px;
    text-align: center; 
    text-decoration: none; 
    color: blue; 
    font-weight: bold;
}
#uploadbutton:hover{
    transform: scale(1.1);
}
/*----------------------------------------------predict -----------------------------------------*/


#pred-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

