<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "Stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Load and Preprocess Data</title>
</head>
<body>

    <div id="load-navbar1">
        <h1>Load and Preprocess Data</h1>
    </div>

    <div id="form-container">
        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
        <div id = "load-form">
            <form method="POST" enctype="multipart/form-data">
                <h2>Upload an Excel File for Processing</h2>
                    <div id = "choosefile">
                        <label for="file" style="color: white;">Choose Excel file:</label>
                        <input type="file" id="file" name="file" accept=".xlsx,.xls,.txt">
                    </div>
                    <div id = "buttons-container">
                        <button id = "uploadbutton" style="width: 130px; height: 50px;" type="submit"> Upload and Process </button>
                        <button id="uploadbutton" style="width: 130px; height: 50px;">
                            <a style="text-decoration: none;" href="predict">Predict>></a>
                        </button>
                        <button id="uploadbutton" style="width: 130px; height: 50px;">
                            <a style="text-decoration: none;" href="/">Home>></a>
                        </button>
                    </div>
            </form>
        </div>
    </div>
   
</body>
</html>
