<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "Stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Make Predictions</title>
</head>
<body style="margin: 0;">
    <div id="load-navbar1">
        <h1>Make Predictions</h1>
    </div>
    <div id="form-container">
        <div id="load-form">
            {% if error %}
                <p style="color: red; margin-left: 30px;">{{ error }}</p>
                <br>
            {% elif predictions %}
                <h2 style="color: white; margin-left: 30px;">Prediction Results (First 20):</h2>
                <p style="color: white; margin-left: 30px;">{{ predictions }}</p>
                <br>
                <h2 style="color: white;margin-left: 30px;">Threat Level:</h2>
                <p style="font-weight: bold; color: {% if 'Critical' in threat_level %}red{% elif 'High' in threat_level %}orange{% elif 'Moderate' in threat_level %}yellow{% else %}green{% endif %}; margin-left: 30px; font-size: 26px">
                    {{ threat_level }}
                </p>
                <br>
            {% else %}
                <p style="color: white; margin-left: 30px;">No predictions available. Please submit data.</p>
            {% endif %}
            <form method="POST">
                <div id="buttons-container">
                    <button type="submit" id="uploadbutton" style="width: 130px; height: 50px;">Predict</button>
                <button id="uploadbutton" style="width: 130px; height: 50px;">
                    <a style="text-decoration: none;" href="/">Home>></a>
                </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
